<form role="form" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% for field in form.visible_fields %}
        {% include "field.html" %}
    {% endfor %} 
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    <button type="submit" class="btn btn-primary">{{ submit }}</button>
</form>
